<div class="row">
  <div class="col-md-12">
    <br>
    <h2>Courses<a href="/courses/add" class="btn btn-success float-right">Add New Course</a></h2>
    <hr>
    <div class="table-responsive">
      <table class="coursesTable">
        <thead>
          <tr>
            <th>Course Code</th>
            <th>Course Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each courses}}
            <tr>
              <td><a
                  href="/course/{{this.courseId}}"
                >{{this.courseCode}}</a></td>
              <td><a
                  href="/students?course={{this.courseId}}"
                >{{this.courseDescription}}</a></td>
              <td><a href="/course/delete/{{this.courseId}}" class="btn btn-danger float-right">Remove</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#unless courses}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>