<div class="row">
  <div class="col-md-12">
    <br>
    <h2>Students<a href="/students/add" class="btn btn-success float-right">Add New Student</a></h2>
    <hr>
    <div class="table-responsive">
      <table class="studentsTable">
        <thead>
          <tr>
            <th>Student Num</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Course ID</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
            <tr>
              <td>{{this.studentNum}}</td>
              <td><a href="/student/{{this.studentNum}}">{{this.firstName}}
                  {{this.lastName}}</a></td>
              <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
              <td>{{this.addressStreet}}
                {{this.addressCity}}
                {{this.addressProvince}}</td>
              <td>{{this.status}}</td>
              <td><a
                  href="/students?course={{this.course}}"
                >{{this.course}}</a></td>
              <td><a href="/student/delete/{{this.studentNum}}" class="btn btn-danger float-right">Remove</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#unless students.course}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>